 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f5f9;
  color: #0f172a;
}

header {
  height: 10vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.nav {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  margin-right: auto;
  color: #0f172a;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #0f172a;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #2563eb;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.container {
  width: 700px;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #2563eb;
  margin-bottom: 20px;
}

.info-card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  border-left: 5px solid #2563eb;
}

.info-card:hover {
  background: #e2e8f0;
  transform: scale(1.02);
}


.info-card {
  opacity: 0;
  transform: translateY(20px);
} 








/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #e5e5e5;
}

header {
  height: 10vh;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  margin-right: auto;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #cccccc;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #10b981;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.container {
  width: 700px;
  background: #1f1f1f;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

h1 {
  margin-bottom: 5px;
  color: #ffffff;
}

.subtitle {
  color: #10b981;
  margin-bottom: 20px;
}

.info-card {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  border-left: 5px solid #10b981;
  transition: 0.3s ease;


  opacity: 0;
  transform: translateY(20px);
}

.info-card:hover {
  background: #333333;
  transform: scale(1.02);
} */
